# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v5
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2
    - name: Setup NuGet
      uses: nuget/setup-nuget@v2
    - run: nuget restore TrionicCanFlasher.sln
    - name: Build app for release
      run: msbuild TrionicCanFlasher.sln -t:rebuild -verbosity:diag -property:Configuration=Release