<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

	<?define UpgradeCode="{9B523E43-7324-4DF0-A1DE-8493B57D1915}"?>
	<?define Manufacturer="MattiasC"?>

	<!-- Version is the exe's FileVersion, from the git tag (Directory.Build.props); MSI uses its first three fields -->
	<Package Name="TrionicCANFlasher" Language="1033" Version="!(bind.FileVersion._BD738AAED71DCCEED60CC945A97E1099)" Codepage="1252" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)" InstallerVersion="300" ProductCode="*">
		<SummaryInformation Manufacturer="$(var.Manufacturer)" />
		<MediaTemplate EmbedCab="yes" />


		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
		<ui:WixUI Id="WixUI_InstallDir" />
		<WixVariable Id="WixUILicenseRtf" Value="disclaimer.rtf" />


		<!-- Lawicel canusbdrv.dll needs the VC++ 2010 runtime -->
		<Feature Id="VCRedist" Title="Visual C++ 10.0 Runtime" AllowAdvertise="no" Display="hidden" Level="1">
			<MergeRef Id="VCRedist" />
		</Feature>

		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="C__BD738AAED71DCCEED60CC945A97E1099" Guid="{14C60897-F939-7A8E-9F97-A250ABFB14C2}">
				<File Id="_BD738AAED71DCCEED60CC945A97E1099" Name="TrionicCANFlasher.exe" KeyPath="yes" DiskId="1" Source="$(var.PublishDir)\TrionicCANFlasher.exe" />
				<Shortcut Id="_462E17F4E4DB47539FD54ED69225D749" Directory="ProgramMenuFolder" Name="TrionicCANFlasher" Icon="Icon_TrionicCanFlasher.ico" IconIndex="0" Show="normal" WorkingDirectory="TARGETDIR" Advertise="yes" />
				<Shortcut Id="_49AB8AD443174DEFB4E14140B3272AE1" Directory="DesktopFolder" Name="TrionicCANFlasher" Icon="Icon_TrionicCanFlasher.ico" IconIndex="0" Show="normal" WorkingDirectory="TARGETDIR" Advertise="yes" />
			</Component>
			<Merge Id="VCRedist" SourceFile=".\\Microsoft_VC100_CRT_x86.msm" DiskId="1" Language="0"/>
		</DirectoryRef>


		<Feature Id="DefaultFeature" ConfigurableDirectory="INSTALLFOLDER" Level="1">
			<ComponentRef Id="C__BD738AAED71DCCEED60CC945A97E1099" Primary="yes" />
			<!-- the rest of the self-contained publish folder (runtime, Avalonia, NLog.config, pdf, canlib32.dll, libusb-1.0.dll) -->
			<Files Directory="INSTALLFOLDER" Include="$(var.PublishDir)\**">
				<Exclude Files="$(var.PublishDir)\TrionicCANFlasher.exe" />
				<!-- native SkiaSharp/HarfBuzz symbols, ~100 MB -->
				<Exclude Files="$(var.PublishDir)\lib*.pdb" />
			</Files>
		</Feature>

		<Icon Id="Icon_TrionicCanFlasher.ico" SourceFile="$(sys.SOURCEFILEDIR)..\TrionicCANFlasher\TrionicCanFlasher.ico" />
		<Property Id="ARPPRODUCTICON" Value="Icon_TrionicCanFlasher.ico" />
		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." />

		<StandardDirectory Id="ProgramFilesFolder">
			<Directory Id="ManufacturerFolder" Name="!(bind.property.Manufacturer)">
				<Directory Id="INSTALLFOLDER" Name="!(bind.property.ProductName)" />
			</Directory>
		</StandardDirectory>
		<StandardDirectory Id="DesktopFolder" />
		<StandardDirectory Id="ProgramMenuFolder" />
	</Package>
</Wix>
